[alias]
	aw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
	br = branch
	bra = branch -a
	c = commit -a
	ca = commit -a --amend --no-edit
	cap = commit -a --amend --no-edit && git push --force
	cl = clean -df
	co = checkout
	lg = log --decorate --oneline
	purr = pull --rebase
	rc = !git reset HEAD --hard && git clean -dfq
	rcg = !git reset HEAD --hard && git clean -dfx && git gc --aggressive --prune=all
	st = status -sb
	sti = status -sb --ignored
[color]
	ui = auto
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[push]
	default = simple
[user]
	email = lorenzo@villani.me
	name = Lorenzo Villani
