[alias]
	aw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
	b = branch
	ba = branch -a
	c = commit -a
	ca = commit -a --amend --no-edit
	cap = !git commit -a --amend --no-edit && git push --force
	cl = clean -df
	co = checkout
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	p = push -u origin HEAD
	pf = push --force
	purr = pull --rebase
	r = reset HEAD --hard
	rp = reset HEAD^1 --hard
	rc = !git reset HEAD --hard && git clean -dfx
	rcg = !git reset HEAD --hard && git clean -dfx && git gc --aggressive --prune=all
	s = status -sb
	sclone = clone --depth 1
	si = status -sb --ignored
[color]
	ui = auto
[core]
	whitespace = trailing-space,space-before-tab
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[push]
	default = simple
[user]
	email = lorenzo@villani.me
	name = Lorenzo Villani
