[alias]
	aw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
	b = branch
	ba = branch -a
	c = commit -a
	ca = commit -a --amend --no-edit
	cap = !git commit -a --amend --no-edit && git push --force
	cl = clean -df
	co = checkout
	develer = config user.email 'lvillani@develer.com'
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	p = push -u origin HEAD
	pf = push -u origin HEAD --force
	pt = push --tags
	ptf = push --tags --force
	purr = pull --rebase
	r = reset HEAD --hard
	rp = reset HEAD^1 --hard
	rc = !git reset HEAD --hard && git clean -dfx
	rcg = !git reset HEAD --hard && git clean -dfx && git gc --aggressive --prune=all
	s = status -sb
	sclone = clone --depth 1
	si = status -sb --ignored
[color]
	ui = auto
[core]
	whitespace = trailing-space,space-before-tab
	autocrlf = input
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[push]
	default = simple
[user]
	email = lorenzo@villani.me
	name = Lorenzo Villani
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
